[submodule "yourown-platform"]
	path = yourown-platform
	url = https://github.com/pilprod/yourown-platform.git
[submodule "yourown-rag"]
	path = yourown-rag
	url = https://github.com/pilprod/yourown-rag.git
